<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Chicken">
    <item>
      <listing>Chicken Donner Tray</listing>
      <price>8.00</price>
    </item>
    
    <item decaf="true">
      <listing>Chicken Shawarma Meal</listing>
      <price>11.99</price>
    </item>
  </category>
  <category name="Lamb">
    <item>
      <listing>Lamb Donner Tray</listing>
      <price>8.00</price>
    </item>
   
    <item decaf="true">
      <listing>Lamb Donner Meal</listing>
      <price>11.99</price>
    </item>
  </category>
  <category name="Mix Donner">
    <item>
      <listing>Mix Shawarma Tray</listing>
      <price>8.00</price>
    </item>
    
    <item decaf="true">
      <listing>Mix Donner Meal</listing>
      <price>11.99</price>
    </item>
  </category>
  <category name="Vegtable">
    <item>
      <listing>Veg Kebab Wrap</listing>
      <price>7.00</price>
    </item>
   
    <item decaf="true">
      <listing>Veg wrap meal</listing>
      <price>9.99</price>
    </item> 
  </category>
  <category name="Flaffel">
    <item>
      <listing>Flaffel Kebab wrap</listing>
      <price>7.00</price>
    </item>
     <item decaf="true">
      <listing>Flaffel wrap meal</listing>
      <price>9.99</price>
    </item>
   
  </category>
</menu>