<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Coffee">
    <item>
      <listing>Latte</listing>
      <price>3.00</price>
    </item>
    <item>
      <listing>Hot Choclate</listing>
      <price>3.70</price>
    </item>
    <item decaf="true">
      <listing>Prewette</listing>
      <price>3.60</price>
    </item>
  </category>
  <category name="Frappe">
    <item>
      <listing>Salted Caramel </listing>
      <price>4.00</price>
    </item>
    <item>
      <listing>Caramel Drizzle</listing>
      <price>4.25</price>
    </item>
    <item decaf="true">
      <listing>Pumpkin Pie</listing>
      <price>3.80</price>
    </item>
  </category>
  <category name="Iced Coffee">
    <item>
      <listing>Iced Spice Latte</listing>
      <price>3.20</price>
    </item>
    <item>
      <listing>Cold Brew</listing>
      <price>3.90</price>
    </item>
    <item decaf="true">
      <listing>Iced Espresso</listing>
      <price>3.80</price>
    </item>
  </category>
  <category name="Tea">
    <item>
      <listing>Green Tea</listing>
      <price>3.40</price>
    </item>
    <item>
      <listing>Ginger Tea</listing>
      <price>3.00</price>
    </item>
    <item decaf="true">
      <listing>Mint Tea</listing>
      <price>3.50</price>
    </item> 
  </category>
  <category name="Deserts">
    <item>
      <listing>Cookies</listing>
      <price>6.00</price>
    </item>
    <item>
      <listing>Brownies</listing>
      <price>5.10</price>
    </item>
    <item>
      <listing>Custard</listing>
      <price>5.10</price>
    </item>
  </category>
</menu>